<!-- Footer -->
<footer class="text-center bg-dark" id="footer">
    <div class="container text-white py-4 py-lg-1">
        <ul class="list-inline">
            <li class="list-inline-item me-4"><i class="fa-brands fa-facebook-f"></i></li>
            <li class="list-inline-item me-4"><i class="fa-brands fa-twitter"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-instagram"></i></li>
        </ul>
        <p class="text-muted mb-0">Speedy Cars © 2022</p>
    </div>
</footer>