<!-- Footer -->
<footer class="text-center bg-dark pt-2">
    <div class="container pb-2">
        <ul class="list-inline ">
            <li class="list-inline-item me-4"><a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page"><i class="fa-brands fa-facebook-f fa-lg"></i></a></li>
            <li class="list-inline-item me-4"><a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page"><i class="fa-brands fa-twitter fa-lg"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page"><i class="fa-brands fa-instagram fa-lg"></a></i></li>
        </ul>
        <p class="text-dark mb-0">Speedy Cars 2022</p>
    </div>
</footer>