{% extends 'base.html' %}
{% block title %} | About Us {% endblock %}

{% load static %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Welcome to Speedy Cars</h1>
          <p class="lead">We are based on the Main Road, Clonmel Town and supply quality, affordable used cars for sale.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Drive your dreams.</h2>
          <p class="lead">We are delighted that you have taken the time to visit our site and if the vehicle you require is not present on our current stock list please give us a call as we will do our best to locate a vehicle that suits your needs.</p>
          <img src="https://res.cloudinary.com/dm8mfw14u/image/upload/v1660988754/_about-deal_qrkrx5.png" alt="" class="img-fluid">
          <p class="lead">All our vehicles come with a warranty and are fully inspected on pre-delivery to assure our customers of the highest quality.</p>
          <p class="lead">We can offer a range of finance options to assist in the purchase of your car. Our rates are very competitive and flexible. Please contact our financial advisor for further infornmation.</p>
        </div>
        <div class="col-md-4">
          <div class="container demo-bg">
            <div class="business-hours">
              <h2 class="title">Opening Hours</h2>
              <ul class="list-unstyled opening-hours">
              <li>Monday <span class="pull-right">9:00-22:00</span></li>
              <li>Tuesday <span class="pull-right">9:00-22:00</span></li>
              <li>Wednesday <span class="pull-right">9:00-22:00</span></li>
              <li>Thursday <span class="pull-right">9:00-22:00</span></li>
              <li>Friday <span class="pull-right">9:00-23:30</span></li>
              <li>Saturday <span class="pull-right">14:00-23:30</span></li>
              <li>Sunday <span class="pull-right">Closed</span></li>
              </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-5">Customer satisfaction above all else</h2>
    <h5>We take great pleasure in being able to guide each of every one of our customers, whether new or returning, through every part of the vehicle ownership lifecycle. </h5>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg mb-3">View Our Full Cars Stock</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
          {% if employees %}
            {% for employee in employees %}
            <div class="col-md-4">
              <img src="{{ employee.photo.url }}" alt="" class="rounded-circle mb-3 img-fluid">
              <h4>{{ employee.name }}</h4>
              <p class="text-success">{{ employee.description }}</p>
              <hr>
              <p>
                <i class="fa-solid fa-phone"></i> {{ employee.phone }}</p>
              <p>
                <i class="fa-solid fa-envelope-open"></i> {{ employee.email }}</p>
            </div>
            {% endfor %}

          {% else %}
          <div class="col-md-12">
            <p>No employees available</p>
          </div>
          {% endif %}
      </div>
    </div>
  </section>
{% include 'partials/_footer.html' %}
{% endblock %}