{% extends 'base.html' %}
{% block title %} | Welcome {% endblock %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <div id="slogan" class="text-center">
      <h1>Don’t Only Dream it</h1>
      <h1>Just Drive It</h1>
    </div>
  </div>
</section>
<div>
  <video autoplay muted loop id="background-video" aria-label="looped video in the background">
    <source src="https://res.cloudinary.com/dm8mfw14u/video/upload/v1660332052/tesla_ehoxmk.mp4" type="video/mp4">
  </video>
</div>
{% endblock %}