{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
  <div class="container-fluid d-flex align-items-stretch justify-content-around text-center " style="margin-top: 70vh">
    <div class="text-white">
      <button type="button" class="btn btn-outline-light btn-lg m-4">
        Petrol
      </button>
      <button type="button" class="btn btn-outline-light btn-lg m-4">
        Diesel
      </button>
      <button type="button" class="btn btn-outline-light btn-lg m-4">
        Hybrid
      </button>
      <button type="button" class="btn btn-outline-light btn-lg m-4">
        Electric
      </button>
    </div>
  </div>
</header>
<div>
  <video autoplay muted loop id="background-video">
    <source src="https://res.cloudinary.com/dm8mfw14u/video/upload/v1660332052/tesla_ehoxmk.mp4" type="video/mp4">
  </video>
</div>
{% endblock %}