@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Orbitron:wght@500&display=swap');

body {
  background-color: lightgray;
  font-family: 'Abel', sans-serif;
}
/*
html {
	font-size: 62.5%;
}
*/
#nav-bar {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
}

#slogan h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
}

#dealer-name {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  color: #ffac0c;
  padding: 8px;
}

#slogan h1 {
 -webkit-text-stroke-width: 2px;
 -webkit-text-stroke-color: #1c1c1c;
 -webkit-text-fill-color: #ffac0c;
}

a.btn {
  margin: auto;
}

li.nav-item{
   list-style: none;
}

a.nav-link {
  text-decoration: none !important;
  color: rgba(255,255,255,.55);
}
a.nav-link:hover {
  color: aqua;
}

#background-video {
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
#slogan {
  margin-top: 70vh;
  color: rgb(233, 230, 230);
}

div.card-img-overlay {
  pointer-events: none;  
  }

.navbar {
    border-bottom: #008ed6 2px solid;
}

.action_field {
  padding-left: 20vw;
  padding-right: 20vw;
}

footer {
  bottom:0;
  width: 100vw;
}

.card-img-top {
  width: 100;
  height: 30vh;
  object-fit: cover;
}

.card-img-top.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-brands
{ 
  color: rgba(255,255,255,.55) !important;
}

ul.list-inline {
  margin-bottom: 0;
}

/* Business Opening Hours Section */
.business-hours {
  background:#212529;
  padding: 1.5rem 1rem;
  color: rgba(255,255,255,.55);
  }

.business-hours li {
  line-height: 30px;
  border-bottom: 1px solid #333; 
  }
.business-hours li:last-child {
  border-bottom: none; 
  }
.business-hours .opening-hours li.today {
  color: #ffac0c; 
  }

@media only screen and (min-width: 768px) {
    #nav-bar {
      font-size: 1.5rem;
    }
  }
