{% extends 'base.html' %}
{% block title %} | Dashboard {% endblock %}

{% load static %}

{% block content %}

<section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.username }}</h2>
          {% if booking %}
          <p>Here are the booked test drives that you have made with Speedy Cars</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Car</th>
                <th scope="col">Test drive date</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Cancel</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in booking %}
              <tr>
                <td>{{ item.car }}</td>
                <td>{{ item.date }}</td>
                <td>
                  <a class="btn btn-info" href="{% url 'car' item.car_id %}">View</a>
                </td>
                <td>
                  <a class="btn btn-danger" href="{% url 'cancellation' item.id %}">Cancel</a>
                </td>
              </tr>
              {% endfor %}
                 </tbody>
          </table>
          {% else %}
          <p>You nave not booked any test drives yet.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}