{% extends 'base.html' %}
{% block title %} | Edit {% endblock %}

{% load static %}
{% block content %}
<!-- Edint item -->
<div class="row action_field center">
    <div class="col md-12">
        <h2>Please edit your booked test drive details</h2>
        <!-- form -->
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <!-- spacing -->
            <br>
            <!-- button -->
             <div class="d-grid text-center mb-3">
                <button class="btn btn-danger" type="submit">Change</button>
              </div>
        </form>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock content %}