{% extends 'base.html' %}
{% block title %} | {{ car.title }} {% endblock %}
{% load humanize %}
{% load static %}
{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">{{ car.title }}</h1>
            </div>
        </div>
    </div>
</section>

<!-- Car -->
<section id="car" class="py-4 mt-5">
    <div class="container">
        <a href="{% url 'cars' %}" class="btn btn-light mb-4">Back To Listings</a>
        <div class="row img-fluid">
            <div class="col-md-9">
                <!-- Home Main Image -->
                <img src="{{ car.photo_main.url }}" alt="" class="img-main img-fluid mb-2">
                <!-- Thumbnails -->
                <div class="row mb-5 thumbs">
                    {% if car.photo_1 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_1.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if car.photo_2 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_2.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if car.photo_3 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_3.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if car.photo_4 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_4.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if car.photo_5 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_5.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if car.photo_6 %}
                    <div class="col-md-2">
                        <a href="{{ car.photo_6.url }}" data-toggle="lightbox" data-gallery="img-gallery"
                            data-height="560" data-width="560">
                            <img src="{{ car.photo_6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-euro-sign"></i> Price:
                                <span>{{ car.price | intcomma}} Euro</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-gas-pump"></i> Fuel Type:
                                <span>{{ car.fuel_type }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-car"></i> Engine size:
                                <span>{{ car.engine_size }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-gauge"></i> Milage:
                                <span>{{ car.milage }} km</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-calendar-days"></i> Year:
                                <span>{{ car.year }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-gears"></i> Transmission:
                                <span>{{ car.transmission }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-car-side"></i> Body type:
                                <span>{{ car.body_type }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-road"></i> Road tax:
                                <span>{{ car.road_tax }} €</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-user"></i> Owners:
                                <span>1</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fa-solid fa-screwdriver-wrench"></i> NCT:
                                <span>{{ car.nct | date:"d M Y" }}</span>
                            </li>


                        </ul>
                    </div>
                </div>

                <!-- Description -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        {{ car.description }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ car.sales_person.photo.url}} " alt="Picture of the sales advisor">
                    <div class="card-body">
                        <h5 class="card-title">Sales advisor</h5>
                        <h6 class="text-secondary">{{ car.sales_person }}</h6>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <button class="btn-primary btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#inquiryModal">Book Test Drive</button>
                {% else %}
                <p>Please login to book a test drive.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Booing Test Drive Modal -->
<div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">Book test drive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'booking' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="car_id" value="{{ car.id }}">
                    <div class="mb-3">
                        <label for="car" class="form-label">Car:</label>
                        <input type="text" name="car" class="form-control" value="{{ car.title }}">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" name="name" class="form-control" value="{{ user.username }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Select date of your test drive</label>
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" name="date">
                            <span class="input-group-append">
                                <span class="input-group-text bg-white d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <!-- <div class="modal-footer">
          
                <input class="btn btn-primary" type="submit" value="Submit">          
            </div> -->
        </div>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}